---
- name: Install slurm compute packages
  apt:
    name:
      - slurm-smd-slurmd  
      - libpmix-dev 
      - libpmix2
    state: present
    update_cache: yes

- name: Create slurmd spool dir
  file:
    path: /var/spool/slurmd
    state: directory
    owner: "{{ slurm_user }}"
    group: "{{ slurm_group }}"
    mode: '0755'
 
- name: Ensure /etc/slurm exists
  file:
    path: /etc/slurm
    state: directory
    owner: slurm
    group: slurm
    mode: '0600'
 
# - name: Ensure slurmd service is enabled and started
#   service:
#     name: slurmd
#     state: restarted
#     enabled: true
